/* ID */

#mainContainer {
    display: flex;
    align-items: row;
    height: 100%;
}

#JSONEditorContainer {
    flex-grow: 1;
}

#JSONEditor:focus {
    outline: none !important;
    border: none;
}
#JSONEditor {
    box-sizing: border-box;
    resize: none;
    background-color: transparent;
    color: white;
    border: none;

    width: 100%;
    height: 100%;
}

#secondPanel {
    display: flex;
    flex-direction: column;
}

#toolBar {
    display: flex;
    align-items: stretch;
    padding: 12px !important;
}

#importButton {
    display: none;
}

#toolBar > img, #toolBar > label > img {
    height: 20px;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
}

#canvas {
    width: 320px;
    height: 240px;
    background-color: white;
}

#toolBox {
    color: #ffffff;
    flex-grow: 1;
}

#colorPicker {
    border-radius: 5px;
    margin-right: 10px;
}

/* Class */

.grayContainer {
    background-color: #333333;
    border-radius: 15px;

    padding: 15px;
    margin: 15px;
}

/* Other */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

html, body { 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #252526;
    font-family: 'Fira Sans', sans-serif;
}